mixin navbar(user)
    nav.navbar.navbar-expand.navbar-light.bg-light
        a(href="/" aria-label="Golden Goose").navbar-brand.mr-0
        .mr-md-2
            img(src="/images/door-open-fill.svg" width="36" height="36")
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item 
                    a.nav-link(href="/rooms") Rooms
                if user && user.RoleID === 1
                    li.nav-item 
                        a.nav-link(href="/users") Users
        .navbar-right
            if user
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/user/" + user.id + "/edit") Hello #{user.first_name}!
                    li.nav-item
                        a.nav-link(href="/logout") Logout
            else
                .navbar-right
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href="/signup") Sign up
                        li.nav-item
                            a.nav-link(href="/login") Login 