doctype html
html(lang='en')
  include ../common/head.pug
  +head("Rooms")
  body
    header
      include ../common/navbar.pug
      +navbar(user)
    .container
      .row.align-items-center 
        .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
          h1 Purchase
          form(action="/room/" + room.id + "/purchase-final", method="POST") 
            input(type="hidden", name="room.id", value=room.id)
            input(type="hidden", name="user.id", value=user.id)
            input(type="hidden", name="user.preferred_pay_method", value=user.preferred_pay_method)
            .input-group.mb-3
                input(name="preferred_pay_method", type="hidden", placeholder="Enter your contact details").form-control.mb-3
            .input-group-append
                button(type="submit").btn.btn-primary Purchase

    include ../common/footer.pug
    +footer()
